# Ansible
ansible/inventory/hosts.yml

# Terraform
terraform/.terraform/
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/.terraform.tfstate.lock.info
terraform/terraform.tfvars
terraform/generated/

.claude/
.worktrees