[defaults]
collections_path = ../.cache/ansible/collections
inventory = ./inventory/example.yml
local_tmp = ../.cache/ansible/home/tmp
retry_files_enabled = False
roles_path = ./roles
stdout_callback = default

[privilege_escalation]
become_ask_pass = False

[ssh_connection]
pipelining = True
